<h1> Stupid Coaching</h1>

<div class="box" >
<p>
  Question: <%=@question%>
<p>
<p class="comment">
  -You
</p>
</div>

<br>
<div>
<p>
  Answer: <%=@answer%>
</p>
<p class="comment">
  -Your Coach
</p>
</div>

<%= link_to "Go back and ask another question", ask_path %>
